
{% extends 'layout.tpl.html' %}

{% block body %}
        <div class="container">
            <div class="row main">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <h1 class="title">Minesweeper - Spiel</h1>
                        <hr />
                    </div>
                </div>

                <div class="main-login main-center">
                    <p style="text-align:center;" id="minesweeper">[]</p>
                </div>
            </div>
        </div>





<!-- Das Spiel -->
<script src="assets/js/minesweeper.js" type="text/javascript"></script>
{% endblock %}
