{% extends 'layout.tpl.html' %}

{% block body %}
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Minesweeper</h1>
                <hr />
            </div>
        </div>

        <div class="main-login main-center">
            <h1>Sie haben sich erfolgreich angemeldet!!!</h1>
            <h2>Leider Funktioniert das Spiel noch nicht</h2>
            <center>
                <img src="assets/images/logo.png" alt="" style="width:304px;height:228px;">
            </center>
        </div>
    </div> 
</div>
<script type="text/javascript" src="assets/js/start_screen.js"></script>

{% endblock %}
